<div style="font-size: 48px; font-weight: bold; color: #333333; padding: 24px;">
  This is only a test page for angular post-it.
  <br><br>
  What is angular post-it?
  <br>
  It's a simple concept of moving <span style="background: #333333; color: #FFFFFF;">paper post-it</span> to your system.
  <br><br>
  This lib is highly customizable, easy to use and very simple.
  <br><br><br>
  How can you test is?
  <br>
  <span style="background: #333333; color: #FFFFFF;" (click)="openPostIt()">Click here</span> or use dot key shortcut. Close it with the escape key.
</div>
